{% extends 'base.html' %} 

{% block content %}
<div class='all-bounties-container'>
<a href='https://aspen-company.com/save-our-children-endhumantrafficking-donation-hat-denim-rust-stone/' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://cdn11.bigcommerce.com/s-o8lmab0pdr/images/stencil/1280x1280/products/1617/4892/JGF08915__24580.1616780993.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Save Our Children #EndHumanTrafficking HAT</h5>
    <p class="">$26.00</p>
  </div>
</div>
</a>
<a href='https://aspen-company.com/save-our-children-endhumantrafficking-donation-hat-rust-gray-mustard/' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://cdn11.bigcommerce.com/s-o8lmab0pdr/images/stencil/1280x1280/products/1615/4889/JGF08913__58612.1616780999.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Save Our Children #EndHumanTrafficking HAT</h5>
    <p class="">$26.00</p>
  </div>
</div>
</a>
<a href='https://aspen-company.com/save-our-children-endhumantrafficking-donation-hat-vintage-black-stone/' target="_blank">
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://cdn11.bigcommerce.com/s-o8lmab0pdr/images/stencil/1280x1280/products/1616/4891/JGF08912__12035.1616780996.jpg?c=2" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Save Our Children #endhumantrafficking HAT </h5>
        <p class="">$26.00</p>
    </div>
  </div>
  </a>
  <a href='https://aspen-company.com/save-our-children-endhumantrafficking-donation-hat-white/' target="_blank">
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://cdn11.bigcommerce.com/s-o8lmab0pdr/images/stencil/1280x1280/products/1618/4895/JGF08914__08050.1616780990.jpg?c=2" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Save Our Children #endhumantrafficking HAT </h5>
        <p class="">$26.00</p>
    </div>
  </div>
  </a>
<a href='https://www.etsy.com/listing/934442025/let-there-be-light-knit-beanie-this?ref=shop_home_recs_18' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/4684b8/2811535805/il_794xN.2811535805_4vca.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Let There Be Light Knit BEANIE</h5>
    <p class="">$25.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/920080934/human-trafficking-awareness-bracelets?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=stop+human+trafficking&ref=sr_gallery-1-7&organic_search_click=1&col=1' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/18094409/r/il/85abdf/2774316136/il_1588xN.2774316136_os52.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Human Trafficking Awareness Bracelet</h5>
    <p class="">$8.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/844517826/save-the-children-face-mask-reusable?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=stop+human+trafficking&ref=sr_gallery-4-15&organic_search_click=1&frs=1' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://i.etsystatic.com/12749973/r/il/86dda7/2480978816/il_1588xN.2480978816_5and.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Save The Children Face Mask Reusable Face Mask </h5>
      <p class="">$13.95</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/832804967/save-the-children-sticker-stop-human?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=stop+human+trafficking&ref=sr_gallery-4-8&organic_search_click=1' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://i.etsystatic.com/23783950/r/il/d67d5f/2456059912/il_794xN.2456059912_9up0.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Save The Children Protection To All Sticker </h5>
      <p class="">$3.99</p>
  </div>
</div>
</a>
</div>

{% endblock %}