{% extends 'base.html' %} 

{% block content %}
<div class='all-bounties-container'>
<a href='https://www.etsy.com/listing/918850621/slavery-still-exists-sweatshirt-this?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_us_b-clothing-unisex_adult_clothing-hoodies_and_sweatshirts-sweatshirts&utm_custom1=_k_CjwKCAjwgZuDBhBTEiwAXNofRL7GkORYadzEpVO2d-GSXETw09ZyFRJGnf3eSY5cRhl4oJ05eW9aLhoCU7sQAvD_BwE_k_&utm_content=go_11756612619_113534608705_483580059585_aud-320380826869:pla-376382708287_c__918850621_12768591&utm_custom2=11756612619&gclid=CjwKCAjwgZuDBhBTEiwAXNofRL7GkORYadzEpVO2d-GSXETw09ZyFRJGnf3eSY5cRhl4oJ05eW9aLhoCU7sQAvD_BwE' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/67ef4a/2763832268/il_794xN.2763832268_bcl9.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Slavery Still Exists Hoodie *Handmade</h5>
    <p class="">$45.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/902855780/john-15-sweatshirt-this-sweatshirt?ref=shop_home_recs_2&variation0=1666845228' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/8ca2e8/2707923074/il_794xN.2707923074_fzee.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">John 1:5 Adult Hoodie *Handmade</h5>
    <p class="">$45.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/905660885/light-the-dark-hoodie-this-hoodie-fights?ref=shop_home_recs_3' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/5433af/2873152194/il_794xN.2873152194_r7ky.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Light The Dark Adult Hoodie *Handmade</h5>
    <p class="">$40.00</p>
  </div>
</div>
</a>
<a href='https://teespring.com/shop/fight-human-trafficking-2?currency=USD&utm_source=google&utm_medium=cpc&utm_campaign=11056639137&aid=ts-boosted-pla&pid=345&cid=6361&adgroup=116866367948&network=u&device=c&gclid=CjwKCAjwgZuDBhBTEiwAXNofRJBC3uWnNF6UnqCKmxwUnbMcxjlE2q1EDd5N8021inbi8I69sESaHRoC9eIQAvD_BwE&utm_content=462275662744' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://vangogh.teespring.com/v3/image/K-qz_7PCKf0_f4-18pxDksv4mZI/480/560.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Fight Human Trafficking Hoodie</h5>
    <p class="">$33.99</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/855045804/save-our-children-end-human-trafficking?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=trafficking+sweatshirt&ref=sr_gallery-1-12&organic_search_click=1&pro=1&frs=1&col=1' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://i.etsystatic.com/22579837/r/il/5dd867/2520573336/il_794xN.2520573336_pe2u.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Save Our Children End Human Trafficking Hoodie </h5>
      <p class="">$45.95</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/753247713/jeffrey-epstein-didnt-kill-himself?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=jeffrey+epstein+didnt+kill+hoodie&ref=sr_gallery-1-1&organic_search_click=1&col=1' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://i.etsystatic.com/14311875/r/il/1ab74b/2084516254/il_794xN.2084516254_bsar.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Jeffrey Epstein Didn't Kill Himself Unisex Hoodie </h5>
      <p class="">$22.98</p>
  </div>
</div>
</a>
<a href='https://www.lookhuman.com/design/379486-your-silence-will-not-protect-you-audre-lorde-quote/97100-pink-md' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://images.lookhuman.com/render/standard/UZ6RrkTV0kn74DCCDM8YXjhrVicX2LfZ/97100-pink-z1-t-your-silence-will-not-protect-you-audre-lorde-quote.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Your Silence Will Not Protect You Pullover </h5>
      <p class="">$35.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/855045804/save-our-children-end-human-trafficking?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=trafficking+sweatshirt&ref=sr_gallery-1-12&organic_search_click=1&pro=1&frs=1&col=1' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://images.lookhuman.com/render/standard/UZ6RrkTV0kn74DCCDM8YXjhrVicX2LfZ/97200-athletic_royal-z1-t-your-silence-will-not-protect-you-audre-lorde-quote.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Your Silence Will Not Protect You Hoodie </h5>
      <p class="">$35.00</p>
  </div>
</div>
</a>
</div>

{% endblock %}