.all-bounties-container {
    width: 100%;
    height: fit-content;
    background-color: #393e46;
    padding-top: 10em;
    display: flex;
    justify-content: center;
    color: white;
    padding:  8em 3em;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: auto;
    word-break: break-all;
}

.all-bounties-container a{
    text-decoration: none;
    color: white;
}

.bounties-card {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    border: 1px solid green;
    margin: 1em;
}

.bounties-card-body {
    border: 1px solid green;
}
