html, body {
  height: 100%;
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.navbar-main {
  z-index: 3;
  background-color: #000000d2;
  position: sticky;
  top:0;
  height: 100%;
  width: 100%;
  height: 100px;
  line-height: 56px;
  transition: all 0.3s ease-in;
  padding-left: 3em;
}

.nav-link {
  color: white;
}

.navbar-main a:hover {
  color: rgba(37, 255, 48, 0.74);
}