@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/**************************** Homepage Page 1 styles **************************************/

.homepage-pg1 {
    width: 100%;
    height: 100%;
    background-color: #393e46;
    overflow: hidden;
    position: relative;
    font-family: 'Source Code Pro', monospace;
}

/*    The styles for the container for the button of pg1 are in ./typewriter.css      */ 

.signup-btn {
    margin-left: 5em;
    height: 50px;
    align-self: center;
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(37, 255, 48, 0.74);
    transition: all 0.3s ease-in;

}

.signup-btn:hover {
    color:black;
    background-color:rgba(37, 255, 48, 0.74);
    border-radius: 1em;

}

/********************************* GLOBE SETTINGS  ********************************/

#globe {
    z-index: 0;
    position: relative;
    bottom: 50%;
    left: 10%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background:url('./images/greenoutlinesearth.png');
    background-size:cover;
    border:2px solid rgba(99, 255, 107, 0.397) ;
    border-radius:50%;
    width:1000px;
    height:1000px;
    animation: movement 15s linear 0s infinite;
    box-shadow:0 0 25px rgba(110, 255, 118, 0.5),
               -8px -8px 15px rgba(110, 255, 118, 0.5)  inset,
               2px 2px 25px rgb(0, 99, 5, 0.5)  inset,
               -45px -45px 25px rgb(0, 99, 5, 0.5) inset, 
               25px 25px 45px rgb(0, 99, 5, 0.5)  inset;
    transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
  }

  @keyframes movement {
    0% { background-position:0 0 }
    100% { background-position: 1000px 0 }
  }

/*************************************** MODAL STYLES ********************************/

.modal-custom {
    background-color: rgb(61, 61, 61);
    color: white;
    border: 1px solid rgb(135, 255, 135);

}

/**************************** Homepage Page 2 styles **************************************/

.donation_description {

}

.pg2 {
    background-color: #393e46;
    height: 100%;
    background-image: url('./images/hands.png');
    size: 100%;
    background-position: top;

} 
