{% extends 'base.html' %} 
{% load static %}
{% block content %}

<div class="all-bounties-container bounty-show">

<div class="action" onclick="actionToggle()">
  <span> <img class="laptop" src=" {% static '/images/laptop.png' %}"> </span>
  <ul>
    <li><button type="button" class="fab-btn" data-bs-toggle="modal" data-bs-target="#postModal"> Add a Post</button></li>
    <li><a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20missing%20person!" target="_blank">Share on Twitter</a></li>
    <li>Share</li>
    <li>Share</li>
  </ul>
</div>
<script type="text/javascript">
  function actionToggle(){
    const action = document.querySelector('.action');
    action.classList.toggle('active')
  }
</script>

<div class="card bounties-card" style="width: 18rem;">
  <img src="{{bounty.img_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{bounty.name}}</h5>
    <ul class="list-group list-group">
    <li class="list-group-item">Status: {{bounty.get_status_display}}</li>
    <li class="list-group-item">Last Seen: {{bounty.last_seen}}</li>
    <li class="list-group-item">Location: {{bounty.location}}</li>
  </ul>
    <p class="card-text">{{bounty.story}}</p>
  </div>

</div>

<!-- POST RELATING TO THAT PERSON -->

<div class="list-group post-group">

{% for post in bounty.post_set.all %}

  <a href="/bounties/{{bounty.id}}/{{post.id}}" class="list-group-item list-group-item-action border-green" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{post.title}}</h5>
    </div>
    <div>
    <small>{{post.user}}</small>
    </div>
    <div>
    <small>{{post.date}}</small>
    </div>
  </a>
{% endfor %}

</div>

<div
  class="modal fade"
  id="postModal"
  tabindex="-1"
  aria-labelledby="postModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Post Now</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/bounties/{{bounty.id}}/">

        <!-- NOT A DRY WAY TO GRAB FORM DATA - GOING TO REFACTOR WHEN WE MAKE CUSTOM MODELS -->

          {% csrf_token %} 
          
          <div class="form-label">
          {{ post_form.as_p }}
            </div>
        <br />

      </div>
      <div class="modal-footer">
        <button type="submit" class="signup-btn" value="post"> post </button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      </form>
    </div>
  </div>
</div>


</div>

{% endblock %}