{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
    .aa {
        background-color: #393e46;

    }

    .boxy {
        width: 900px;
        display: flex;
        display: flexbox;

        position: relative;
        justify-content: space-evenly;
        align-content: center;
        display: flex;
        direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10em;
        min-height: 50%;
        width: 500px;
        border: 15px solid green;
        text-decoration: none;
        font-size: 1.25em;
        color: white;
        background-color: black;
        border: 1px solid rgba(37, 255, 48, 0.74);
        top: 15%;
        color: black;
        font-family: 'Source Code Pro', monospace;
        opacity: 0.5;

    }

    .whyDonate {
        display: block;
        border: 15px solid green;
        text-decoration: none;
        font-size: 1.25em;
        color: white;
        background-color: black;
        border: 1px solid rgba(37, 255, 48, 0.74);
        color: black;
        font-family: 'Source Code Pro', monospace;
        opacity: 0.5;
    }

    .Donate {
        display: block;
        border: 15px solid green;
        text-decoration: none;
        font-size: 1.25em;
        color: white;
        background-color: black;
        border: 1px solid rgba(37, 255, 48, 0.74);
        color: black;
        font-family: 'Source Code Pro', monospace;
        opacity: 0.5;
    }

    #payment-form {

        color: white;
        font-size: 20px;
    }

    #amount {
        color: white;
        background-color: black;
        opacity: 0.8;
    }

    .donateBtn {
        color: white;
        background-color: black;
        opacity: 0.8;
    }
</style>


<script class="aa" src="https://js.stripe.com/v3/"></script>

<div class="boxy">
    <div class="Donate">
        <form action="{%url 'charge' %}" method="post" id="payment-form">
            {% csrf_token %}
            <select required name="amount" id="amount">
                <option selected value="1">Donate $1</option>
                <option value="5">Donate $5</option>
                <option value="10">Donate $10</option>
                <option value="20">Donate $20</option>
                <option value="50">Donate $50</option>
                <option value="100">Donate $100</option>
            </select>
            <input type="text" id="amount" name="name" placeholder="Name">

            <div class="form-row">
                <label for="card-element">

                </label>
                <div id="card-element">
                </div>
                <div id="card-errors" role="alert"></div>
            </div>
            <button class="donateBtn">Submit Donation</button>
        </form>
    </div>
    <div class="whyDonate">
        <p> Here at HIDDEN we are proudly non-profit, non-corporate and non-compromised.We rely on our donations to
            carry out our mission of finding victims and those responsible. By donating, you are joining the fight to
            end human trafficking and contributing to a better tomorrow. Will you give today? </p>
    </div>
</div>

<script>

    var stripe =
        Stripe('pk_test_51Ib91bLxWyJCIbGgWv74IqUyt1jAaNUcQg8qLZUpZUiacua79SFlE0GPdXanj1XjQAqk2Zw9A6RTXgp3WV47Wvz400xjJaIczf');


    var elements = stripe.elements();


    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };


    var card = elements.create('card', { style: style });

    card.mount('#card-element');


    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });


    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {

                stripeTokenHandler(result.token);
            }
        });
    });


    function stripeTokenHandler(token) {
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);


        form.submit();
    }


</script>


{% endblock content %}