{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project 4</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script defer src="{% static 'app.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li>
              <a href="/" class="left brand-logo"
                >Project4</a
              >
            </li>
          </ul>
          <a href="#" class="right sidenav-trigger" data-target="mobile-demo"
            ><i class="material-icons">menu</i></a
          >
          <ul class="right hide-on-med-and-down">
            <li><a href="/">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="/">Item1</a></li>
            <li><a href="/">Item2</a></li>
            <li><a href="">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        Project 4
      </div>
    </footer>
  </body>
</html>
