{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project 4</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'typewriter.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'homecarousel.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bounties.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'post.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fab.css' %}" />
    

    {% comment %}
    <script defer src="{% static 'app.js' %}"></script>
    {% endcomment %}

  </head>

  <header class="nav-header">
    <nav class="nav-main" role="navigation">
      <ul class="nav-ul">


        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-a" href="/">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-a" href="{% url 'bounties' %} ">Bounties</a>
        </li>
        <li class="nav-item active">
          <a class="nav-a" href="{% url 'logout' %}">Log out</a>
        </li>
        {% else %}

        <li class="nav-item ">
                        <button
              class="nav-a nav-btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#loginModal"
    >
          Login
          </button>
        </li>
        <li class="nav-item ">
              <button
              class="nav-a nav-btn"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#signupModal"
    >
          Sign Up
          </button>
        </li>
        <li class="nav-item " >
          <a class="nav-a" href="/"> Support </a>
        </li>

        {% endif %}

        <li class="blackhat">
          <a href="/"
            ><div class="blackhat-container">
              <img src="{% static '/images/blackhat.png' %}"/></div
          ></a>
        </li>
        <li><a class="nav-a" href="#">About Us</a></li>
        <li><a class="nav-a" href="#">Blog</a></li>
        <li class="nav-item dropdown">
          <a class="nav-a dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </a>

          <ul class="dropdown-menu dropdown-ul" aria-labelledby="navbarDropdown">
            <li><a class="nav-a dropdown-item dropdown-a" href="#">Sweatshirts</a></li>
            <li><a class="nav-a dropdown-item dropdown-a" href="#">T-Shirts</a></li>
            <hr class="nav-ul-hr" />
            <li><a class="nav-a dropdown-item dropdown-a" href="#">Hats</a></li>
            <li><a class="nav-a dropdown-item dropdown-a" href="#">Misc</a></li>
          </ul>

        </li>
      </ul>
    </nav>
  </header>

  <body>
    {% block content %} 

    {% endblock %}

    <!-- *************************** Signup Modal **************************** -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Sign Up Now</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'signup' %}">

        <!-- NOT A DRY WAY TO GRAB FORM DATA - GOING TO REFACTOR WHEN WE MAKE CUSTOM MODELS -->
          {% csrf_token %} 
          
          <div class="form-label">
          {{ form.username.label }}:
          {{ form.username}}
          </div>
          <br />
         <div class="form-label">
          {{ form.password1.label}}:
          {{ form.password1 }}
            </div>
          <br />
         <div class="form-label">
          {{ form.password2.label }}:
          {{ form.password2}}
            </div>
        <br />

      </div>
      <div class="modal-footer">
        <button type="submit" class="signup-btn" value="signup"> Sign up Now </button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      </form>
    </div>
  </div>
</div>

    <!-- *************************** Login Modal **************************** -->

<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login Now</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'login' %}">

        <!-- NOT A DRY WAY TO GRAB FORM DATA - GOING TO REFACTOR WHEN WE MAKE CUSTOM MODELS -->

          {% csrf_token %} 
          
          <div class="form-label">
          {{ login_form.username.label }}:
          {{ login_form.username}}
          </div>
          <br />
         <div class="login_form-label">
          {{ login_form.password.label}}:
          {{ login_form.password }}
            </div>
        <br />

      </div>
      <div class="modal-footer">
        <button type="submit" class="signup-btn" value="login"> Login </button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      </form>
    </div>
  </div>
</div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>


        <footer class="footer-container">
        <div class="about-project">
            <h3>Search</h3>
            <p> An application created with Django to bring people together and raise awareness to human trafficking and hunt down perpetrators and rescue victims.
            </p>

        </div>
        <div class="about-project">
            <h3>The Team</h3>
            <p> 
                This application was produced by the team of
                <a href="https://github.com/AnaCeprnja"> Ana Ceprnja </a> and 
                <a href="https://github.com/andrew8bit"> Andrew Bith </a> as part of General Assembly's Software 
                Engineering Bootcamp. 
            </p>

        </div>
        <div class="follow-project">
            <h3>#FOLLOW</h3>
            <p> 
                Follow our github for future development!
            </p>
        </div>
    </footer>
    <div class="copywrite-container">
        <p>This app was create for personal use. Images sourced from Freepik.com by Freepik. All rights reserved</p>
    </div>
    

</html>
