{% extends 'base.html' %} {% load static %} {% block content %}

<div class="homepage-pg1 no-btm-border">

  <div class="post-show-page">
    <div class="post-show-container">
      <div class="main-post">
        <div href="#" class="" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">Post Title:</h3>
            <small>3 days ago</small>
          </div>
          <small>Post Author:</small>
          <hr />
          <p class="mb-1">
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
            This will be where the post content will go and populate this post.
            Here, the post author can talk about the content
          </p>
        </div>
      </div>
    </div>
    <div class="post-show-comments">
      <div class="list-group post-group">
        <a
          href="/bounties/1/1"
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <small>And some small print.</small>
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action"
          aria-current="true"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph.</p>
          <small>And some small print.</small>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="spacer">
</div>

  {% endblock %}

