{% extends 'base.html' %} 

{% block content %}

<div class='all-bounties-container'>

<a href='/bounties/1'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">MISSING</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
  </div>
</div>
</a>
<a href='/'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">TARGET</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
<a href='/'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">TARGET</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
<a href='/'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">MISSING</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
<a href='/'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">MISSING</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
<a href='/'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">MISSING</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
</div>

{% endblock %}