{% extends 'base.html' %} {% block content %}

<div class="homepage-pg1">
  <div class="homepage-text-container-head">
    <div class="typewriter">
      <h1 class>Search<span style="color: rgb(0, 255, 55)">.</span></h1>
    </div>
    <button type="button" class="signup-btn" data-bs-toggle="modal" data-bs-target="#signupModal">
      Enlist Today
    </button>
  </div>
  <div class="homepage-text-container">
    <div class="typewriter">
      <p>
        According to the latest report on forced labour by the ILO: An estimated 40.3 million victims
      </p>
      <p>
       are trapped in modern-day slavery.The State Department's 2019 Trafficking in Persons Report 
      </p>
      <p>
      found the Department of Justice had as few as 230 prosecutions.It's time to break this
      </p>
      <p>
     $150 billion dollar industry, rescue the victims, and find those responsible. #EndHumanTrafficking 
      </p>
    </div>
  </div>
  <div id="globe"></div>
</div>

<div class="pg2">
  <a class="makeadiff-a" href="donation/"> Make A Difference </a>
  <div class="donation_description">
    <div>

      This is where we can talk about OSINT 
    </div>
  </div>
</div>
<div class=" pg3-header ">
  <img class=" pg3-img" src="../static/images/search-and-rescue.png">

</div>

<div class="pg3">
  <div class="img-box-desc-container">
    <div class="img-cell cell-top cell-1 left shadow-right">
      <div class="text-left">
        <h5></h5>
      </div>
    </div>
    <div class="img-cell cell-top cell-2 middle shadow-right">
      <div class="text-middle">
        <h3></h3>
      </div>
    </div>
    <div class="img-cell cell-top cell-3 middle shadow-left">
      <div class="text-middle">
        <h5></h5>
      </div>
    </div>
    <div class="img-cell cell-top cell-4 right shadow-left">
      <div class="text-right">
        <p></p>
      </div>
    </div>
    <div class="img-cell cell-bottom cell-5 left shadow-right">
      <div class="text-left">
        <p></p>
      </div>
    </div>
    <div class="img-cell cell-bottom cell-6 middle shadow-right">
      <div class="text-middle">
        <h5></h5>
      </div>
    </div>
    <div class="img-cell cell-bottom cell-7 middle shadow-left">
      <div class="text-middle">
        <h3></h3>
      </div>
    </div>
    <div class="img-cell cell-bottom cell-8 right shadow-left">
      <div class="text-right">
        <h5></h5>
      </div>
    </div>
  </div>

  {% endblock %}