{% extends 'base.html' %} {% block content %}

<div class="homepage-pg1">
  <div class="homepage-text-container-head">
    <div class="typewriter"><h1 class>App name</h1></div>
    <button
      type="button"
      class="signup-btn"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Make a difference now
    </button>
  </div>
  <div class="homepage-text-container">
    <div class="typewriter">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature
      </p>
      <p>
        from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
        professor at Hampden-Sydney College in Virginia,
      </p>
      <p>
        DWADWADlwakmdlkawmdlkawmdlkwamdlkmawkldmawlmdklwadklawlkdmawklmdlkawdklawmldawmkldawkldwalkmdawklmdwaklmdwkdmwkdmkwmdkwkdw
      </p>
      <p>
        DWADWADlwakmdlkawmdlkawmdlkwamdlkmawkldmawlmdklwadklawlkdmawklmdlkawdklawmldawmkldawkldwalkmdawklmdwaklmdwkdmwkdmkwmdkwkdw
      </p>
    </div>
  </div>
  <div id="globe"></div>
</div>

<!-- *************************** Signup Modal **************************** -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up Now</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'signup' %}">

        <!-- NOT A DRY WAY TO GRAB FORM DATA - GOING TO REFACTOR WHEN WE MAKE CUSTOM MODELS -->
          {% csrf_token %} 
          <div class="form-label">
          {{ form.username.label }}:
          {{ form.username}}
          </div>
          <br />
         <div class="form-label">
          {{ form.password1.label}}:
          {{ form.password1 }}
            </div>
          <br />
         <div class="form-label">
          {{ form.password2.label }}:
          {{ form.password2}}
            </div>
        <br />

      </div>
      <div class="modal-footer">
        <button type="submit" class="signup-btn" value="signup"> Sign up Now </button>
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
