{% extends 'base.html' %} {% block content %}

<div class="homepage-pg1">
<div class="homepage-text-container-head">
<h1> App name</h1>
</div>
<div class="homepage-text-container">
<div class="typewriter">
  <p>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature 
  </p>
  <p>
    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, 
  </p>
  <p>
    DWADWADlwakmdlkawmdlkawmdlkwamdlkmawkldmawlmdklwadklawlkdmawklmdlkawdklawmldawmkldawkldwalkmdawklmdwaklmdwkdmwkdmkwmdkwkdw
  </p>
  <p>
    DWADWADlwakmdlkawmdlkawmdlkwamdlkmawkldmawlmdklwadklawlkdmawklmdlkawdklawmldawmkldawkldwalkmdawklmdwaklmdwkdmwkdmkwmdkwkdw
  </p>
  <p>
    DWADWADlwakmdlkawmdlkawmdlkwamdlkmawkldmawlmdklwadklawlkdmawklmdlkawdklawmldawmkldawkldwalkmdawklmdwaklmdwkdmwkdmkwmdkwkdw
  </p>
</div>

</div>
  <div id="globe"></div>
</div>

{% endblock %}
