{% extends 'base.html' %} {% block content %}

<div class="homepage-pg1">
  <div class="homepage-text-container-head">
    <div class="typewriter"><h1 class>Search<span style="color: rgb(0, 255, 55)">.</span></h1></div>
    <button
      type="button"
      class="signup-btn"
      data-bs-toggle="modal"
      data-bs-target="#signupModal"
    >
      Make a difference now
    </button>
  </div>
  <div class="homepage-text-container">
    <div class="typewriter">
      <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in
      </p>
      <p>
        a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
      </p>
      <p>
        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
      </p>
      <p>
        And this is just filler text to demonstrate the application
      </p>
    </div>
  </div>
  <div id="globe"></div>
</div>

<div class="pg2">
  <div class="donation-description">

  </div>
</div>

{% endblock %}
