{% extends 'base.html' %} 

{% block content %}
<div class='all-bounties-container'>
<a href='https://www.etsy.com/listing/918850621/slavery-still-exists-sweatshirt-this?gpla=1&gao=1&&utm_source=google&utm_medium=cpc&utm_campaign=shopping_us_b-clothing-unisex_adult_clothing-hoodies_and_sweatshirts-sweatshirts&utm_custom1=_k_CjwKCAjwgZuDBhBTEiwAXNofRL7GkORYadzEpVO2d-GSXETw09ZyFRJGnf3eSY5cRhl4oJ05eW9aLhoCU7sQAvD_BwE_k_&utm_content=go_11756612619_113534608705_483580059585_aud-320380826869:pla-376382708287_c__918850621_12768591&utm_custom2=11756612619&gclid=CjwKCAjwgZuDBhBTEiwAXNofRL7GkORYadzEpVO2d-GSXETw09ZyFRJGnf3eSY5cRhl4oJ05eW9aLhoCU7sQAvD_BwE' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/67ef4a/2763832268/il_794xN.2763832268_bcl9.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Slavery Still Exists Sweatshirt *Handmade</h5>
    <p class="">$45.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/902855780/john-15-sweatshirt-this-sweatshirt?ref=shop_home_recs_2&variation0=1666845228' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/8ca2e8/2707923074/il_794xN.2707923074_fzee.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">John 1:5 Adult Sweatshirt *Handmade</h5>
    <p class="">$45.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/905660885/light-the-dark-hoodie-this-hoodie-fights?ref=shop_home_recs_3' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/9561473/r/il/5433af/2873152194/il_794xN.2873152194_r7ky.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Light the Dark Adult Hoodie *Handmade</h5>
    <p class="">$40.00</p>
  </div>
</div>
</a>
<a href='https://aspen-company.com/save-our-children-endhumantrafficking-donation-tee/' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://cdn11.bigcommerce.com/s-o8lmab0pdr/images/stencil/1280x1280/products/1543/4671/save_our_children__72659.1617301997.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Save Our Children Donation Adult Tee</h5>
    <p class="">$28.00</p>
  </div>
</div>
</a>
<a href='https://www.bonfire.com/no-more-stolen-sisters/' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://c.bonfireassets.com/thumb/design-image/db38368b-03e3-4094-8c8f-4c0f6a4720bd/7329f207-b69c-4f7e-8322-9f628fd81358/?size=900" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">No More Stolen Sisters -- Black Premium Unisex Tee </h5>
    <p class="">$30.00</p>
  </div>
</div>
</a>
<a href='/'>
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://c.bonfireassets.com/thumb/design-image/84dc2dbf-7396-49eb-bc78-7d0b7caf0d01/7329f207-b69c-4f7e-8322-9f628fd81358/?size=900" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Person Name</h5>
    <p class="">MISSING</p>
    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</a>
<a href='/'>
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Person Name</h5>
        <p class="">MISSING</p>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
 </a>
 <a href='/'>
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Person Name</h5>
        <p class="">MISSING</p>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
</a>
<a href='/'>
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Person Name</h5>
        <p class="">MISSING</p>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
</a>
<a href='/'>
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Person Name</h5>
        <p class="">MISSING</p>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
 </a>
 <a href='/'>
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Person Name</h5>
        <p class="">MISSING</p>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    </a>
 <a href='/'>
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://static.wikia.nocookie.net/villains/images/6/61/Unknown_Face_Of_The_Collector.jpg/revision/latest?cb=20171207211806" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Person Name</h5>
        <p class="">MISSING</p>
        <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
</a>
</div>

{% endblock %}