{% extends 'base.html' %} 

{% block content %}
<div class='all-bounties-container'>
    <a href='https://www.bonfire.com/no-more-stolen-sisters/' target="_blank">
        <div class="card bounties-card" style="width: 18rem;">
          <img src="https://c.bonfireassets.com/thumb/design-image/db38368b-03e3-4094-8c8f-4c0f6a4720bd/9faf370a-0679-4738-850a-292523e177d9/?size=900" class="card-img-top" alt="...">
          <div class="card-body bounties-card-body">
            <h5 class="">No More Stolen Sisters -- Black Premium Unisex Tee </h5>
            <p class="">$30.00</p>
          </div>
        </div>
        </a>
<a href='https://teespring.com/shop/fight-human-trafficking-2?currency=USD&utm_source=google&utm_medium=cpc&utm_campaign=11056639137&aid=ts-boosted-pla&pid=46&adgroup=116866367948&network=u&device=c&gclid=CjwKCAjwgZuDBhBTEiwAXNofRJBC3uWnNF6UnqCKmxwUnbMcxjlE2q1EDd5N8021inbi8I69sESaHRoC9eIQAvD_BwE&utm_content=462275662744' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://vangogh.teespring.com/v3/image/MF82cZJxeFYDukz6KxYuGQ2iBrs/480/560.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Fight Human Trafficking Adult Tee</h5>
    <p class="">$23.99</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/841091590/stop-human-trafficking-not-for-sale?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=stop+sex+trafficking&ref=sc_gallery-1-7&from_market_listing_grid_ad=1&plkey=337b5c331a4846413f9fe8ad2e6097e352d06a12%3A841091590&col=1' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/22848513/r/il/7853bc/2767912798/il_1588xN.2767912798_56t8.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Not For Sale Trafficking Unisex Tee </h5>
    <p class="">$22.95</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/842106536/save-our-children-end-human-trafficking?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=stop+sex+trafficking&ref=sr_gallery-1-36&from_market_listing_grid_organic=1&pro=1' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://i.etsystatic.com/21332699/r/il/7c91b2/2574074440/il_794xN.2574074440_40gf.jpg" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Save Our Children End Human Trafficking Tee</h5>
    <p class="">$19.19</p>
  </div>
</div>
</a>
<a href='https://aspen-company.com/save-our-children-endhumantrafficking-donation-tee/' target="_blank">
<div class="card bounties-card" style="width: 18rem;">
  <img src="https://cdn11.bigcommerce.com/s-o8lmab0pdr/images/stencil/1280x1280/products/1543/4671/save_our_children__72659.1617301997.jpg?c=2" class="card-img-top" alt="...">
  <div class="card-body bounties-card-body">
    <h5 class="">Save Our Children Donation Adult Tee</h5>
    <p class="">$28.00</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/973411609/end-child-trafficking-cotton-tee?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=save+our+children+tee&ref=sc_gallery-1-16&plkey=359eadd03dd8b63be8faba2ca3d19f8a9d4606e1%3A973411609&frs=1' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://i.etsystatic.com/26591851/r/il/5860a7/2913375238/il_1588xN.2913375238_rhnf.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">End Child Trafficking Cotton Tee </h5>
      <p class="">$20.00</p>
  </div>
</div>
</a>
<a href='https://www.lookhuman.com/design/379486-your-silence-will-not-protect-you-audre-lorde-quote/6010-envy-md' target="_blank">
  <div class="card bounties-card" style="width: 18rem;">
    <img src="https://images.lookhuman.com/render/standard/UZ6RrkTV0kn74DCCDM8YXjhrVicX2LfZ/6010-envy-z1-t-your-silence-will-not-protect-you-audre-lorde-quote.jpg" class="card-img-top" alt="...">
    <div class="card-body bounties-card-body">
      <h5 class="">Your Silence Will Not Protect You Tee </h5>
      <p class="">$29.99</p>
  </div>
</div>
</a>
<a href='https://www.etsy.com/listing/750980873/epstein-didnt-kill-himself-shirt?ga_order=most_relevant&ga_search_type=all&ga_view_type=gallery&ga_search_query=jeffery+epstein+didnt+kill+myself&ref=sr_gallery-1-2&organic_search_click=1&pro=1&frs=1&col=1' target="_blank">
    <div class="card bounties-card" style="width: 18rem;">
      <img src="https://i.etsystatic.com/14227637/r/il/58819a/2074117626/il_794xN.2074117626_98qf.jpg" class="card-img-top" alt="...">
      <div class="card-body bounties-card-body">
        <h5 class="">Epstein Didn't Kill Himself Adult Tee</h5>
        <p class="">$16.99</p>
    </div>
</div>
</a>
</div>

{% endblock %}