{% load static %}

<footer class="footer-container">
  <div class="about-project">
    <h3>Hidden</h3>
    <p>
      An application created with Django to bring people together and raise
      awareness to human trafficking and hunt down perpetrators and rescue
      victims.
    </p>
  </div>
  <div class="about-project">
    <h3>The Team</h3>
    <p>
      This application was produced by the team of
      <a href="https://github.com/AnaCeprnja"> Ana Ceprnja </a> and
      <a href="https://github.com/andrew8bit"> Andrew Bith </a> as part of
      General Assembly's Software Engineering Bootcamp.
    </p>
  </div>
  <div class="follow-project">
    <h3>#FOLLOW</h3>
    <p>Follow our github for future development!</p>
  </div>
</footer>
<div class="copywrite-container">
  <p>
    This app was create for personal use. Images sourced from Freepik.com by
    Freepik. All rights reserved
  </p>
</div>
