{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="educate">
    <div>
        <p id="seen">hello</p>
        <h1 class=educateH>Human Trafficking Defined:</h1>
        <p>Under U.S. law, trafficking in persons is defined as “sex trafficking in which a commercial sex act is
            induced by
            force, fraud, or coercion, or in which the person induced to perform such act has not attained 18 years of
            age;”
            or “the recruitment, harboring, transportation, provision, or obtaining of a person for labor or services,
            through the use of force, fraud, or coercion for the purpose of subjection to involuntary servitude,
            peonage,
            debt bondage, or slavery."
            Human trafficking can be a transnational process where victims are recruited abroad and transported across
            borders into another country where they are exploited for labor and/or sex. However, human trafficking can
            also
            be a domestic phenomenon, where little or no transportation is required.</p>
        <h1 class=educateH>A Global Problem:</h1>
        <p>According to a September 2017 report from the International Labor Organization (ILO) and Walk Free
            Foundation:
            An estimated 24.9 million victims are trapped in modern-day slavery. Of these, 16 million (64%) were
            exploited
            for labor, 4.8 million (19%) were sexually exploited, and 4.1 million (17%) were exploited in state-imposed
            forced labor.
            Forced labor takes place in many different industries. Of the 16 million trafficking victims exploited for
            labor
            7.5 million (47%) forced labor victims work in construction, manufacturing, mining, or hospitality
            3.8 million (24%) forced labor victims are domestic workers
            1.7 million (11%) forced labor victims work in agriculture
            71% of trafficking victims around the world are women and girls and 29% are men and boys.
            15.4 million victims (75%) are aged 18 or older, with the number of children under the age of 18 estimated
            at
            5.5 million (25%).
            The Asia-pacific region accounts for the largest number of forced laborers— 15.4 million (62% of the global
            total). Africa has 5.7 million (23%) followed by Europe and Central Asia with 2.2 million (9%). The Americas
            account for 1.2 million (5%) and the Arab States account for 1% of all victims.
            Human trafficking does not always involve travel to the destination of exploitation: 2.2 million (14%) of
            victims of forced labor moved either internally or internationally, while 3.5 million (74%) of victims of
            sexual
            exploitation were living outside their country of residence.
            Victims spend an average of 20 months in forced labor, although this varied with different forms of forced
            labor.</p>
        <h1 class=educateH>$150 Billion</h1>
        <p>Human trafficking earns profits of roughly $150 billion a year for traffickers, according to the ILO report
            from
            2014. The following is a breakdown of profits, by sector:
            $99 billion from commercial sexual exploitation
            $34 billion in construction, manufacturing, mining and utilities
            $9 billion in agriculture, including forestry and fishing
            $8 billion dollars is saved annually by private households that employ domestic workers under conditions of
            forced labor
            While only 19% of victims are trafficked for sex, sexual exploitation earns 66% of the global profits of
            human
            trafficking. The average annual profits generated by each woman in forced sexual servitude ($100,000) is
            estimated to be six times more than the average profits generated by each trafficking victim worldwide
            ($21,800), according to the Organization for Security and Co‑operation in Europe (OSCE).
            OSCE studies show that sexual exploitation can yield a return on investment ranging from 100% to 1,000%,
            while
            an enslaved laborer can produce more than 50% profit even in less profitable markets (e.g., agricultural
            labor
            in India).
            In the Netherlands, investigators were able to calculate the profit generated by two sex traffickers from a
            number of victims. One trafficker earned $18,148 per month from four victims (for a total of $127,036) while
            the
            second trafficker earned $295,786 in the 14 months that three women were sexually exploited according to the
            OSCE.
            While sexual exploitation generates profits, forced labor saves costs. In one case, Chinese kitchen workers
            were
            paid $808 for a 78-hour work week in Germany. According to German law, a cook was entitled to earn $2,558
            for a
            39-hour work week according to the OSCE.
        </p>
        <h1 class=educateH>The Number of Prosecutions of Human Traffickers is Alarmingly Low</h1>
        <p>According to the 2017 State Department Trafficking in Persons (TIP) report, there were only 14,894
            prosecutions
            and 9,071 convictions for trafficking globally in 2016.
            1,251 prosecutions, 1,119 convictions and the identification of 18,296 victims occurred in Africa
            2,137 prosecutions, 1,953 convictions and the identification of 9,989 victims occurred in East Asia & the
            Pacific
            2,703 prosecutions, 1,673 convictions, and the identification of 11,416 victims occurred in Europe
            996 prosecutions, 1,187 convictions, and the identification of 3,292 victims occurred in the Near East
            6,297 prosecutions, 2,193 convictions, and the identification of 14,706 victims occurred in South & Central
            Asia
            1,513 prosecutions, 946 convictions, and the identification of 8,821 victims occurred in the Western
            Hemisphere
            Of the estimated 16 million forced labor victims worldwide, only 1,038 cases of forced labor were prosecuted
            globally in 2016, according to the US Department of State.
            In 2016, the Department of Justice convicted a total of 439 human traffickers, up from 297 in 2015 and 184
            in
            2014.</p>
        <h5 id="infoo"> @all information provided by: Human Rights First. Please visit <a href="https://www.humanrightsfirst.org"> Human rights first.</a>
            for more
            information</h5>

    </div>
</div>


{% endblock %}