{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .educate {
        font-family: 'Source Code Pro', monospace;

    }

    .educateH {
        color: rgb(0, 255, 55);
        font-size: 30px;
        text-transform: uppercase;
    }

    #seen {
        font-size: 70px;
    }

    #infoo {
        font-size: 15px;
        color: black;
        text-transform: uppercase;
    }
</style>

<div class="educate">
    <div>
        <p id="seen">hello</p>
        <h1 class=educateH>Understanding the Four Stages of Recovery </h1>
        <p>1) Victim/Outcast
            First they are victims and then become out casts. They were probably abused/and or
            neglected as children which made them easy prey and were recruited into sex trafficking.
            They may have never been abused but were recruited by trusting a boyfriend, husband or a
            potential employer. They are subjected to on-going trauma, which may include one, some or
            all of the following:
             physical, psychological and emotional abuse
            • beatings
            • degradation
            • humiliation
            • torture
            • rapes
            • gang rapes
            • their healthcare needs are probably going unmet
            These unaddressed traumas cause any victim to be fearful and to hang their heads in
            shame. They live in survival mode.
            Human trafficking is very complex.
            It is never black and white.
            These stages were written only as a guide.
            3
            While being trafficked they navigate through life under the victim mindset. They have
            blinders on and they can’t see that they’re victims; all the while their trafficker is
            exploiting and abusing them. Their reality is distorted. They believe the empty promises
            given to them by their trafficker. They become dependent on their trafficker as their
            protector, providers and/or employer; all the while they’re looking forward to a false,
            bright future. They find excuses for why their trafficker beats them and belittles them as a
            way to deny the abuse and to remain hopeful about their future. They become accustomed
            to managing their traffickers’ moods and emotions to avoid beatings and/or retaliation.
            They don’t see this as out of the ordinary and they justify their traffickers’ bad behavior.
            They believe in their trafficker and they do everything their trafficker tells them to do.
            They cooperate with the trafficker when he/she isolates them from family and resources.
            They don’t know how to stand up for themselves and many times they don’t see the need
            to. They remain loyal to their trafficker. They have a disproportionate need for approval
            from their abusers because to them their approvals mean “they are safe for now”. They
            believe their trafficker will protect them from the police and/or immigration. Traffickers
            threaten to call police or immigration if their victims don’t comply with their demands or
            “keep them happy”. Victims may acquire a criminal record as a result of trusting their
            trafficker and/or trying to keep him/her happy. They may become drug addicted and are
            supplied drugs by their trafficker (to keep them more controllable). They may have
            dropped out of school. They believe they don’t fit in anywhere which sets them apart from
            society and they suffer from relational poverty. They have no sense of belonging.
            To family and society they are a disgrace. Some are even trafficked by their own families.
            They are slut shamed and out cast. The strong stigma keeps them in their place. They are
            victimized by authority figures and come to believe there is no hope for them. They’ve
            come to know, all too well, the potential corruption and abuse of power that exists in every
            profession. This adds to their dependency on their trafficker and contributes to their
            relational poverty. They may come to view those with degrees and titles as better than
            them and more believable. They learn to trust no one except their trafficker. They live in
            the margins of society and their addiction becomes a coping mechanism.
            They haven’t yet considered escaping from their trafficking situation or their abusers nor
            have they considered asking for help because they believe that staying with their trafficker
            is the safest choice they have. They also have a drug habit they need to support.
        <h1 class=educateH>Reclamation – from victim to victor </h1>
        <p>2) Survivor
            In this stage they’ve already asked for help because they believe there may be a chance to
            escape. They are beginning to doubt their trafficker’s seemingly good intentions; that
            he/she is not concerned about their future and welfare. They are living in a safe place.
            They are no longer being victimized or traumatized. They may be experiencing
            withdrawals but are working on overcoming their addiction. They have a circle of
            supporters surrounding them but in their minds they are still just surviving because:
            o they may be reluctant to fall asleep because of nightmares
            o they relive the traumas over and over through flashbacks
            o the intrusive and negative thoughts are overwhelming to them
            o the shame, guilt and fear overwhelm them
            4
            o they don’t quite understand their own thoughts and feelings
            o they may feel like they are “living in hiding” and they won’t allow themselves to
            “truly be seen”
            o they have severe abandonment and trust issues that need to be addressed
            o the built up anger is confusing to them
            o they experience fleeting feelings of dignity and respect and they don’t quite
            know what to make of it because they may never have felt dignified or
            respected before and/or they feel they don’t deserve it
            o their minds are spinning with questions about their lives and their mere
            existence
            BUT now, at least they are looking for work or going to school, or both, and they’re safe.
            They’re getting their medical and legal needs addressed. They are learning life skills like
            how to budget money, balance a check book, cook and/or drive. Maybe they are perfecting
            their English. They may be continuing their education in school. They have thoughts of
            using drugs again to escape the flashbacks, to help them sleep or to just feel better. From
            time to time they’re tempted to go back to their trafficker and “the life”, to what’s familiar,
            because they doubt their abilities to make it in society. They get counseling and start the
            process of getting acquainted with their counselor.
            They have to feel safe with him/her before counseling will be beneficial. They may need to
            find another counselor and start the getting-acquainted- process all over again, several
            times, because they didn’t “click” with the previous counselors. They have to “click” before
            it will be a fruitful relationship. Finding just the right counselor takes time. They may have
            to go through many counselors before progress can be made in therapy. Victims and
            survivors have a hard time recognizing a mutually satisfying relationship even after
            they’ve escaped “the life”. They are still vulnerable to falling prey to someone who doesn’t
            have their best interests in mind.
            Also, it’s a reality that some counselors:
            o find it too difficult to resist the temptation and take advantage of their clients’
            naivety, vulnerabilities and disproportionate need for approval and they re- exploit
            them
            o don’t understand what sex trafficking victims need therapeutically and they
            unknowingly re-exploit them
            o pass judgment on them</p>
        <p>3) Thriver
            They found work, they’re employed, they’re tax payers and they’re contributing members
            of society. They have their own place and are living more independently and out of
            survival mode. They look forward to a promising future. They’re continuing their education
            Finding just the right counselor is the hardest part of
            recovering from sex trafficking
            5
            or they’ve graduated. They are now a subordinate at work. They are learning the
            dynamics of, and the difference between, professional and personal relationships. They
            know their traffickers’ true, malicious intentions. They’re determined to never go back to
            “the life” or their trafficker. Through counseling they’re doing the difficult, inner work they
            need to do to understand:
            • how they fell prey to traffickers
            • what fears are holding them back in life and where they stem from
            • their childhood traumas
            • adult traumas
            • what their children need from them; how to be a good parent
            • the push and pull dynamics between them and their:
             trafficker
             boss
             co-workers
             family
             friends
            • what it took for them to escape and survive trafficking
            • why they survived
            • that some consequences of their past are permanent.
            They are facing their fears with the help of their counselor and they are processing their
            traumas. During this phase they are really learning a whole new way of communicating.
            They are learning a whole new language. Trauma escapes language and causes memory
            loss; so they need help in finding the words to express themselves so they can tell their
            stories and also so they can process their traumas. Finding the right words helps them
            turn the flashbacks (triggers of bad memories) into just memories that don’t haunt them
            anymore, so they can move forward.
            They are learning how to:
            • label their emotions
            • go within, listen to their gut feelings and that voice inside of them
            • express themselves in a respectful way
            • set boundaries without being too aggressive or too passive
            • recognize and mend past, healthy relationships
            • maintain healthy, present relationship
            • develop new, healthy relationships
            • recognize and let go of unhealthy relationships
            • stand up for themselves and recognize when it’s necessary
            Victims of human trafficking carry an untold story inside them, that even they can’t
            make sense of, or put into words. Articulating their complete stories occurs only in
            advanced stages of recovery.
            6</p>
        <p> 4) Victor/Leader
            The blinders are off and they’ve reached “the other side”. They are leaders of their own
            lives. They’ve faced their fears, processed their traumas and came to understand and
            accept themselves and others. They know they’ve been victimized and they understand
            how they fell prey. They’ve acquired good communication skills and they know how to set
            boundaries. They are careful who they allow into their lives and they navigate through life
            with their eyes and ears open. They don’t take people only at face value. They look
            beneath the surface of good and bad behavior, positive and negative labels, prestigious
            titles and degrees. They are no longer easy prey. Others have forgiven them for their
            wrongs and they’ve come to forgive themselves and others. They take responsibility for
            their past choices. The shame has been released and they walk with their heads held
            high. They’re excited about life. They are embracing their survival and are grateful they
            survived everything they’ve been through. They want to pass what they’ve learned on to
            others. They want to make a difference in the lives of others.
            They don’t have to be leaders in anti human trafficking work to be viewed as leaders.
            They can be leaders such as mothers/fathers leading their children, or a lead position at
            work, or they can start their own business and/or be leaders in sales of a product or
            service.
            They’ve discovered their potential and they know what their talents are. They know where
            their strengths and weaknesses lie and they feel comfortable in their own skin. They live
            boldly and with less fear. They face life’s crises with discernment and by reaching out to
            their supporters and resources. They aren’t afraid to ask for help when they know they
            need it. They don’t take people only at face value. They understand that crises and hard
            times are only temporary just as much as good times are. They look at the big picture and
            they see hope in everything they set out to accomplish or overcome.
            They may still have bad dreams but they wake up knowing they are safe. The bad
            memories that used to trigger them into becoming fearful again are now just memories
            that no longer haunt them. They know what they like and don’t like and they have found
            the words to accurately express it.
            The fear of public speaking (stage fright) subsides only with experience. During this stage
            they may have already had public speaking training and/or experience.
            Keep in mind:
            • We do not all fall prey to traffickers in the same way nor do we escape in the same
            way. All of our stories are unique.
            • For many victims, experience with corrupt authority fosters mistrust of anyone who
            inquires about their trafficking situation.
            • Some (in all stages of recovery) may have court cases pending and are not at
            liberty to talk about them and therefore cannot tell the whole story
            • Some may have their legal issues and trigger/trauma issues addressed and can
            now tell the whole story and even change the way their story ends. </p>
        <h1 class=educateH>RECLAMATION FOR TRAFFICKING SURVIVORS</h1>
        <p>Many people who are rescued or escapes from trafficking situations require
            extensive psychological support after experiencing such a horrifying ordeal.
            They need a support system of professionals and peers who can make them
            feel less alone in dealing with the often devastating effects of what
            they’ve experienced.Thankfully there are organizations such as ERASE. EARSE partners with a developing
            network of trusted partner
            agencies who provide mental health care to trafficking survivors. This ensures
            that they become fully equipped to grow and transition from being victims of
            these terrible crimes.</p>
        <p>
        </p>
        <p></p>
        <h5 id="infoo"> @all information provided by: humantraffickingelearning and erasechildtrafficking. Please visit
            https://www.erasechildtrafficking.org/ and
            https://humantraffickingelearning.com/wp-content/uploads/2017/09/Understanding-the-four-stages-of-recovery-from-sex-trafficking.pdf
            for more
            information</h5>

    </div>
</div>


{% endblock %}